<div class="bottom-info wrap_bg">
    <p class="bottom-info__title">
        Wenn Sie Ihre Rechnung nicht in 24 Stunden erhalten haben, der Betrag aber abgebucht wurde, dann kontaktieren Sie bitte unseren Support.
    </p>

    <p class="bottom-info__sub-title">
        Falls Sie irgendwelche Fragen oder Vorlieben haben, kontaktieren Sie uns bitte:
    </p>

    <p class="bottom-info__text">
        Gebührenfreies Telefon:
        <a class="bottom-info__text_color" href="tel:+1-646-4321530">+1-646-4321530</a>
    </p>

    <p class="bottom-info__text bottom-info__text_margin">
        Email:
        <a class="bottom-info__text_color" href="mailto:support@yourordertatusweb.com">support@yourordertatusweb.com</a>
    </p>

    <p class="bottom-info__text">
        Sie können den Bestellstatus jederzeit prüfen, indem Sie unsere Kundendienst-Website
        <a class="bottom-info__text_color" href="http://yourordertatusweb.com" target="_blank">http://yourordertatusweb.com</a>
    </p>

    <p class="bottom-info__text">
        Arbeitszeit: 9:00 am - 11:00 pm Eastern-Zeitzone (ET UTC-05:00)
    </p>
</div>