<div class="insurance-item">
    <input type="checkbox" id="checkbox-1">

    <label for="checkbox-1">
        <div class="insurance-item__wrap">
            <i class="icon insurance-item__icon"></i>
        </div>

        <div class="insurance-item__name">
            <span class="aligner"></span>

            <span class="insurance-item__name-text">
                Versicherung hinzufügen - <strong>€4.99</strong>
            </span>
        </div>
    </label>
</div>