<div class="blank">
    <table>
        <tbody>
            <tr>
                <td class="col1">Nome:</td>
                <td class="col2">M. Quinn Chris</td>
            </tr>
            <tr>
                <td class="col1">Indirizzo:</td>
                <td class="col2">Kennedy Court</td>
            </tr>
            <tr>
                <td class="col1">Città:</td>
                <td class="col2">Bolton, MA 01740</td>
            </tr>
            <tr>
                <td class="col1">Nazione:</td>
                <td class="col2">USA (United States)</td>
            </tr>
            <tr>
                <td class="col1">Stato:</td>
                <td class="col2">American Samoa</td>
            </tr>
            <tr>
                <td class="col1">Codice postale:</td>
                <td class="col2">1766</td>
            </tr>
            <tr class="last">
                <td class="col1">Alternativo e-mail:</td>
                <td class="col2">ChrisMQuinn@teleworm.us</td>
            </tr>
        </tbody>
    </table>
</div>