<div class="blank">
    <table>
        <tbody>
            <tr>
                <td class="col1">Geschlecht:</td>
                <td class="col2">Männlich</td>
            </tr>
            <tr>
                <td class="col1">Vorname:</td>
                <td class="col2">M. Quinn</td>
            </tr>
            <tr>
                <td class="col1">Name:</td>
                <td class="col2">Chris</td>
            </tr>
            <tr>
                <td class="col1">Anschrift:</td>
                <td class="col2">Kennedy Court</td>
            </tr>
            <tr>
                <td class="col1">Stadt:</td>
                <td class="col2">Bolton, MA 01740</td>
            </tr>
            <tr>
                <td class="col1">Land:</td>
                <td class="col2">USA (United States)</td>
            </tr>
            <tr>
                <td class="col1">Staat:</td>
                <td class="col2">American Samoa</td>
            </tr>
            <tr>
                <td class="col1">PLZ:</td>
                <td class="col2">1766</td>
            </tr>
            <tr class="last">
                <td class="col1">Email:</td>
                <td class="col2">ChrisMQuinn@teleworm.us</td>
            </tr>
        </tbody>
    </table>
</div>