<div class="blank">

    <div class="blank__wrap-0 clearfix">
        <div class="blank__row row-1">
            <p class="first">Name der Bank</p>
            <p class="second">VISA</p>
        </div>

        <div class="blank__row row-2">
            <p class="first">Kreditkarte</p>
            <p class="second">VISA<span> / </span>4444333322221111</p>
        </div>
    </div>

    <div class="blank__wrap-1 clearfix">

        <div class="blank__row row-3">
            <p class="first">Cardholder Name</p>
            <p class="second">Derrick Henry</p>
        </div>

        <div class="blank__row row-4">
            <p class="first">Gültig bis</p>
            <p class="second">02<span> / </span>2025</p>
        </div>

        <div class="blank__row row-5">
            <p class="first">Sicherheitscode</p>
            <p class="second">124</p>
        </div>

    </div>

</div>