<div class="forms-row">

    <p class="input__title">{{ inputTitle }}</p>

    <div class="input">
        <input type="text" id="{{ idName }}">
    </div>

    <span class="info-m">Numero dell’ordine oppure le ultime 4 cifre del numero della carta di credito</span>

    <span class="error-m">Si prega di’inserire un indirizzo email valido</span>
</div>