<div class="forms-row">

    <div class="input">
        <input type="text" id="{{ idName }}">

        <label for="{{ idName }}" class="label__title">
            <span class="label__title-text">{{ labelName }}</span>
            <span class="label__title-bg"></span>
        </label>
    </div>

    <span class="info-m">Bitte geben Sie Ihren Vornamen ein. Wir müssen Sie identifizieren, bevor wir Ihre Bestellung annehmen.</span>

    <span class="error-m">Bitte geben Sie Vorname ein.</span>
</div>