<div class="forms-row">

    <p class="input__title">{{ inputTitle }}</p>

    <div class="input">
        <input type="text" id="{{ idName }}">
    </div>

    <a href="javascript:void(0);" class="btn btn-cvv">Hilfe ansehen</a>

    <span class="info-m card-info clearfix">
        <span class="left">
            <p class="info-m__title">Visa, Mastercard, Discover & etc.</p>
            <p class="info-m__text">Der Sicherheitscode Ihrer Visa, Mastercard oder Discover Karte ist eine dreistellige Zahl auf der Rückseite Ihrer Bankkarte, die Ihrer Bankkartennummer folgt.</p>
            <img src="./img/visa_cv.png" alt="visa" class="info-m__img">
        </span>
        <span class="right">
            <p class="info-m__title">American Express</p>
            <p class="info-m__text">Der Sicherheitscode für Ihre American Express Karte ist eine vierstellige Zahl auf der Vorderseite Ihrer Bankkarte, links oder rechts oberhalb Ihrer Bankkartennummer.</p>
            <img src="./img/amex_cv.png" alt="amex" class="info-m__img">
        </span>
    </span>
</div>