<div class="forms-row">

    <p class="input__title">{{ inputTitle }}</p>

    <div class="input">
        <input type="text" id="{{ idName }}">
    </div>

    <span class="info-m">{{ infoText }}</span>

    <span class="error-m">{{ errorText }}</span>
</div>