<div class="radio-item">
    <input type="radio" id="{{ idNum_1 }}" name="input-name">

    <label for="{{ idNum_1 }}">

        <div class="radio-item__wrap">
            <i class="icon radio-item__icon"></i>
        </div>

        <div class="radio-item__name">
            <span class="aligner"></span>
            <span class="radio-item__name-text">
                <span class="radio-item__name-text_color">Io voglio</span>
            </span>
        </div>
    </label>
</div>
<div class="radio-item active">
    <input type="radio" id="{{ idNum_2 }}" name="input-name">

    <label for="{{ idNum_2 }}">

        <div class="radio-item__wrap">
            <i class="icon radio-item__icon"></i>
        </div>

        <div class="radio-item__name">
            <span class="aligner"></span>
            <span class="radio-item__name-text">
                <span class="radio-item__name-text_color">non voglio</span>
                <span class="radio-item__name-text_show">ricevere le newsletter</span>
            </span>
        </div>
    </label>
</div>