<div class="radio-item {{ classActive }}">
    <input type="radio" id="payment_method_{{ idNum }}" name="payment_method">

    <label for="payment_method_{{ idNum }}" class="payment-method">
        <i class="icon radio-item__layer0"></i>
        <i class="icon radio-item__layer1"></i>
    </label>
</div>