<div class="forms-row">

    <div class="wrap-select">
        <p class="select__title">{{ inputTitle }}</p>

        <div class="input input-select year">
            <span class="input-select__value"></span>

            <select name="" id="">
                {% for i in 1..5 %}
                    <option value="">{{ i }}</option>
                {% endfor %}
            </select>

            <i class="input-select__icon"></i>
        </div>

        <div class="input input-select month">
            <span class="input-select__value"></span>

            <select name="" id="">
                {% for i in 1..5 %}
                    <option value="">{{ i }}</option>
                {% endfor %}
            </select>

            <i class="input-select__icon"></i>
        </div>

        <div class="input input-select date">
            <span class="input-select__value"></span>

            <select name="" id="">
                {% for i in 1..5 %}
                    <option value="">{{ i }}</option>
                {% endfor %}
            </select>

            <i class="input-select__icon"></i>
        </div>
    </div>

    <span class="info-m">Bitte geben Sie Ihren Vornamen ein. Wir müssen Sie identifizieren, bevor wir Ihre Bestellung annehmen.</span>

    <span class="error-m">Bitte geben Sie Vorname ein.</span>
</div>