<div class="forms-row">

    <p class="select__title">{{ titleName }}</p>

    <div class="input input-select">
        <span class="input-select__value"></span>

        <select name="" id="">
            {% for i in 1..5 %}
                <option value="">{{ i }}</option>
            {% endfor %}
        </select>

        <i class="input-select__icon"></i>
    </div>

    <span class="error-m">{{ errorText }}</span>
</div>