<div class="status status-decline">

    <div class="status__top clearfix">
        <img src="./img/img-decline.png" alt="accepted" class="status__img status__img-normal">
        <img src="./img/img-decline@2x.png" alt="accepted" class="status__img status__img-retina">

        <h1 class="status__title">
            Dear John Doe,
            <br>
            Your payment has been
            <span class="status__title_color">declined</span>.
        </h1>
    </div>

    <div class="status__wrap">
        {% include './btn.twig' with {
            class   : "back",
            optBtn  : "prev",
            optIcon : "with-icon left",
            text    : "Back to checkout",
            hrefAttr: "/confirm"
        } %}

    </div>

    <p class="status__sub-title">
        Your order was successfully accepted.
        <br>
        In case you didn't receive invoice in 24 hours, but your card has been charged,
        <br>
        please, contact our Support.
    </p>
</div>