<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% for link in linkFiles.style_link %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}

    <title>PAYMENT</title>
</head>
<body>
    <div class="container">

        <div class="btn-test">
            <a href="javascript:void(0);" data-id="error" class="b-test btn-test_error">ERROR</a>
            <a href="javascript:void(0);" data-id="focus" class="b-test btn-test_focus">FOCUS</a>
            <a href="javascript:void(0);" data-id="clear" class="b-test btn-test_clear">CLEAR</a>
        </div>

        <div class="internal-container">

            <div class="header-steps">

                {% include './_template/steps.twig' with {
                    count : 3
                } %}

                {% include './_template/sub_title.twig' with {
                    page_number : 3,
                    page_name   : "Metodo di Pagamento",
                } %}
            </div>


            <p class="block__title border-radius_all">Selezionare il metodo di spedizione</p>


            <form action="" id="checkout_form" class="payment-method wrap_bg border-radius_bottom">
                <div class="form__wrap">
                    <div class="cart-row">
                        <div class="forms-row forms-payment">
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "active",
                                idNum       : "visa",
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "mastercard"
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "amex"
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "btc"
                            } %}
                        </div>
                    </div>


                    <div class="input-wrap__date-birth clearfix">
                        {% include './_template/select-dataBirth.twig' with {
                            inputTitle  : "Data di nascita",
                            infoText    : "La Sua data di nascita fa la parte dell’informazione sulla Sua carta di credito. Noi abbiamo bisogno per verificare l’effettivo titolare della carta.",
                            errorText   : "Si prega di scegliere la Sua data di nascita"
                        } %}
                    </div>


                    <div class="rows">

                        <div class="input-wrap__issuing-bank">
                            {% include './_template/inputBank.twig' with {
                                idName          : "f2_issuing_bank",
                                labelName       : "La banca emittente",
                                infoVisa        : "Inserire il nome della banca (ad esempio Citibank, HSBC, Standard Chartered ecc) che ha emesso la carta.",
                                infoBtc         : "Inserire il nome della banca (ad esempio Citibank, HSBC, Standard Chartered ecc) che ha emesso la carta.",
                                infoMastercard  : "Inserire il nome della banca (ad esempio Citibank, HSBC, Standard Chartered ecc) che ha emesso la carta.",
                                infoAmex        : "Inserire il nome della banca (ad esempio Citibank, HSBC, Standard Chartered ecc) che ha emesso la carta. Se il nome della banca per voi è sconosciuta, inserire Amex o American Express.",
                                errorText       : "Si prega d’inserire il nome della banca che ha emesso la vostra carta di credito"
                            } %}
                        </div>

                        <div class="input-wrap__card-number">
                            {% include './_template/inputBank.twig' with {
                                idName      : "f_card_number",
                                labelName   : "Numeero di carta",
                                infoVisa        : "Si prega di assicurarsi che la Sua carta può essere utilizzata per effettuare l’acquisti online.",
                                infoBtc         : "Si prega di assicurarsi che la Sua carta può essere utilizzata per effettuare l’acquisti online.",
                                infoMastercard  : "Si prega di assicurarsi che la Sua carta può essere utilizzata per effettuare l’acquisti online.",
                                infoAmex        : "Si prega di assicurarsi che la Sua carta può essere utilizzata per effettuare l’acquisti online.",
                                errorText   : "Si prega d’inserire il valido numero della carta."
                            } %}
                        </div>

                        <div class="input-wrap__card-info clearfix">
                            <div class="input-wrap__card-l">
                                {% include './_template/select-expirationDate.twig' with {
                                    inputTitle      : "Data di scadenza",
                                    errorText       : "La vostra carta scade presto. Si prega di provare un’altra carta."
                                } %}
                            </div>

                            <div class="input-wrap__card-r">
                                {% include './_template/input-securityCode.twig' with {
                                    idName      : "f_cvv",
                                    inputTitle  : "Il Codicedi Sicurezza"
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <p class="invoice__title">
                Sie erhalten die Möglichkeit Ihre Bestellung zu überprüfen, bevor sie aufgegeben wird.
            </p>


            <div class="btn">

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "fake-next",
                    optIcon : "no-icon",
                    text    : "Attendere prego...",
                    hrefAttr: "javascript:void(0);"
                } %}

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "next",
                    optIcon : "with-icon right",
                    text    : "Continuare alla Conferma",
                    hrefAttr: "/confirm"
                } %}

                <div class="divider-text">
                    <span class="divider-text__line"></span>
                    <span class="divider-text__word">OR</span>
                </div>

                {% include './_template/btn.twig' with {
                    class   : "prev",
                    optBtn  : "prev",
                    optIcon : "with-icon left",
                    text    : "Ritornare al Metodo di Spedizione",
                    hrefAttr: "/shipping"
                } %}

            </div>
        </div>
    </div>

    {% for link in linkFiles.script_link %}
        <script src="{{ link }}"></script>
    {% endfor %}

</body>
</html>
