{% set bool_discount        = "discount" %}
{% set poduct_count         = 2 %}
{% set poduct_free_count    = 1 %}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% for link in linkFiles.style_link %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}

    <title>STATUS</title>
</head>
<body class={{ bool_discount }}>
    <div class="container">
        <div class="internal-container">


            {% include './_template/statusAccepted.twig' %}

            {% include './_template/statusDecline.twig' %}

            {% include './_template/statusPending.twig' %}


            <div class="confirmation-wrap wrap_bg border-radius_top">
                <div class="wrap">

                    <div class="left-col">

                        <p class="confirm-title">Anschrift</p>

                        {% include './_template/confirmLeft.twig' %}

                    </div>

                    <div class="right-col">

                        <p class="confirm-title">Lieferadresse</p>

                        {% include './_template/confirmRight.twig' %}

                    </div>
                </div>

                <div class="bottom-col">

                    <p class="confirm-title">Kreditkarte</p>

                    {% include './_template/confirmBottom.twig' %}

                </div>
            </div>


            <div class="cart-wrap">
                <div class="cart">

                    {% include './_template/cart.twig' with {
                        countCart           : poduct_count,
                        opt                 : bool_discount,
                        bool_free_discount  : 'false',
                        boolBtn             : false
                    } %}

                </div>


                <div class="cart cart-free">

                    {% include './_template/cart.twig' with {
                        countCart           : poduct_free_count,
                        opt                 : bool_discount,
                        bool_free_discount  : 'true',
                        boolBtn             : false,
                        boolSubtotal        : "free"
                    } %}

                </div>
            </div>


            <div class="total-wrap">
                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Insgesamt:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Preis inkl. rabatt:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Lieferung:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : 'border-radius_bottom total',
                    text        : 'GESAMT:',
                    sum         : '€132.82',
                } %}
            </div>


            {% include './_template/bottomInfo.twig' %}


        </div>
    </div>


    {% for link in linkFiles.script_link %}
        <script src="{{ link }}"></script>
    {% endfor %}

</body>
</html>
