<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% for link in linkFiles.style_link %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}

    <title>SHIPPING</title>
</head>
<body>
    <div class="container">

        <div class="btn-test">
            <a href="javascript:void(0);" data-id="error" class="b-test btn-test_error">ERROR</a>
            <a href="javascript:void(0);" data-id="focus" class="b-test btn-test_focus">FOCUS</a>
            <a href="javascript:void(0);" data-id="clear" class="b-test btn-test_clear">CLEAR</a>
        </div>

        <div class="internal-container">

            <div class="header-steps">

                {% include './_template/steps.twig' with {
                    count : 2
                } %}

                {% include './_template/sub_title.twig' with {
                    page_number : 2,
                    page_name   : "Metodo di Spedizione",
                } %}
            </div>

            <form action="">
                <p class="block__title border-radius_all">Metodo di Spedizione</p>

                <div class="method-wrap wrap_bg">
                    <div class="method-wrap__left">
                        <div class="forms-row forms-method">

                            {% include './_template/radioBtn.twig' with {
                                classActive : "",
                                idNum       : 0,
                                optImg      : true,
                                productName : "Einschreiben - <span class='radio-item__total'>$20.00</span> <span class='radio-item__date'>(14-21 Werktage)</span>"
                            } %}

                            {% include './_template/radioBtn.twig' with {
                                classActive : "",
                                idNum       : 1,
                                optImg      : true,
                                productName : "EMS - <span class='radio-item__free'>GRATIS</span> <span class='radio-item__date'>(14-21 Werktage)</span>"
                            } %}

                            {% include './_template/checkbox.twig' %}
                        </div>
                    </div>

                    <div class="method-wrap__right">
                        <div class="first">
                            <span class="first__text">Lieferart: </span>
                            <strong class="first__strong">Einschreiben</strong>
                        </div>
                        <div class="second">
                            <span class="second__text">
                                Ungefähres Lieferdatum:
                                <br>
                                <span class="second__text-internal">November, 08 - November, 18</span>
                            </span>
                        </div>
                    </div>
                </div>

                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Totale:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Prezzo Con Tutti Gli Sconti:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : '',
                    text        : 'Spedizione:',
                    sum         : '€132.82',
                } %}
                {% include './_template/cart-total.twig' with {
                    totalClass  : 'total',
                    text        : 'TOTALE:',
                    sum         : '€132.82',
                } %}

                <p class="block__title border-radius_all block__title_next">Dati di fatturazione</p>

                <div class="input-wrap wrap_bg">
                    <h3 class="question__title">Have you ordered with us before?</h3>

                    {% include './_template/btn.twig' with {
                        class   : "next next-customer",
                        optBtn  : "next__empty",
                        optIcon : "with-icon right",
                        text    : "Sì, sono qui per la prima volta"
                    } %}

                    <div class="divider-text divider-text-input">
                        <span class="divider-text__line"></span>
                        <span class="divider-text__word">OR</span>
                    </div>

                    <div class="input-wrap__name  input-wrap_padding clearfix">
                        <div class="input-wrap__two-l">

                            {% include './_template/input.twig' with {
                                idName      : "first_name",
                                labelName   : "Nome",
                                infoText    : "Fornire il vostro nome reale. Abbiamo bisogno di identificare l'utente prima di accettare l'ordine.",
                                errorText   : "Si prega d’inserire vostro Nome"
                            } %}

                        </div>
                        <div class="input-wrap__two-r">

                            {% include './_template/input.twig' with {
                                idName      : "last_name",
                                labelName   : "Cognome",
                                infoText    : "Fornire il vostro cognome reale. Abbiamo bisogno di identificare l'utente prima di accettare l'ordine.",
                                errorText   : "Si prega d’inserire vostro Cognome"
                            } %}

                        </div>
                    </div>

                    <div class="input-wrap__gender input-wrap_padding clearfix">

                        <div class="forms-row gender-form-row">
                            <span class="gender__title">Il sesso</span>

                            {% include './_template/radioBtn.twig' with {
                                classActive : "",
                                idNum       : 0,
                                optImg      : false,
                                productName : "Maschile"
                            } %}
                            {% include './_template/radioBtn.twig' with {
                                classActive : "",
                                idNum       : 1,
                                optImg      : false,
                                productName : "Femminile"
                            } %}
                            {% include './_template/radioBtn.twig' with {
                                classActive : "",
                                idNum       : 2,
                                optImg      : false,
                                productName : "Altro"
                            } %}

                            <span class="error-m">Per favore seleziona il sesso</span>
                        </div>
                    </div>

                    <div class="input-wrap__email input-wrap_padding clearfix">
                        <div class="input-wrap__two-l">

                            {% include './_template/input.twig' with {
                                idName      : "email_name",
                                labelName   : "Email",
                                infoText    : "Riceverete la conferma dell'ordine a questo indirizzo.",
                                errorText   : "Si prega di’inserire un indirizzo email valido"
                            } %}

                        </div>

                        <div class="input-wrap__two-r">

                            {% include './_template/input.twig' with {
                                idName      : "a_email_name",
                                labelName   : "Alternativo e-mail (Opzionale)",
                                infoText    : "Fornire un altro email valido solo per essere sicuri.",
                                errorText   : ""
                            } %}

                        </div>
                    </div>

                    <div class="divider-text divider-text-input divider-text-empty">
                        <span class="divider-text__line"></span>
                    </div>

                    <div class="input-wrap__country input-wrap_padding clearfix">
                        <div class="input-wrap__two-l">

                            {% include './_template/select.twig' with {
                                titleName   : "Nazione",
                                errorText   : "Dear Customer! Non si accettano pagamenti da"
                            } %}

                        </div>
                        <div class="input-wrap__two-r">

                            <div class="input-wrap__two-r-first">

                                {% include './_template/input.twig' with {
                                    idName      : "city",
                                    labelName   : "Città",
                                    infoText    : "Città è una parte di un indirizzo di fatturazione associato con la vostra carta di credito.",
                                    errorText   : "Si prega d’inserire una città che fa parte di un indirizzo di fatturazione associato con la tua carta di credito"
                                } %}

                            </div>
                            <div class="input-wrap__two-r-second">

                                {% include './_template/input.twig' with {
                                    idName      : "zip",
                                    labelName   : "Codice postale",
                                    infoText    : "Zip/CAP del vostro indirizzo di fatturazione.",
                                    errorText   : "Si prega d’inserire Zip/CAP"
                                } %}

                            </div>
                        </div>
                    </div>

                    <div class="input-wrap__addrees input-wrap_padding clearfix">
                        <div class="input-wrap__two-l">

                            {% include './_template/input.twig' with {
                                idName      : "address",
                                labelName   : "Indirizzo",
                                infoText    : "Indirizzo di fatturazione associato con la carta di credito, ad esempio 100 Il Nome Della Mia via, App A",
                                errorText   : "Si prega d’inserire l'indirizzo di fatturazione associato con la vostra carta di credito."
                            } %}

                        </div>
                        <div class="input-wrap__two-r">

                            {% include './_template/input.twig' with {
                                idName      : "phone",
                                labelName   : "Telefono",
                                infoText    : "Fornire il vostro cellulare attuale o numero di telefono fisso.",
                                errorText   : "+1 è troppo breve."
                            } %}

                        </div>
                    </div>
                </div>

                <p class="block__title border-radius_all block__title_next">Indirizzo di consegna</p>

                <div class="shipping-address wrap_bg">
                    <span class="shipping-address__text">Indirizzo di trasporto è lo stesso che l'indirizzo di fatturazione?</span>

                    <div class="forms-row forms-shipping">

                        {% include './_template/radioBtn.twig' with {
                            classActive : "",
                            idNum       : "isSameAsBilling",
                            optImg      : false,
                            productName : "Sì"
                        } %}

                        {% include './_template/radioBtn.twig' with {
                            classActive : "",
                            idNum       : "notSameAsBilling",
                            optImg      : false,
                            productName : "No"
                        } %}
                    </div>
                </div>

                <form action="">
                    <div class="input-wrap input-wrap_padding wrap_bg input-wrap-shipping">
                        <div class="input-wrap__name clearfix">

                            <div class="input-wrap__two-l">

                                {% include './_template/input.twig' with {
                                    idName      : "first_name",
                                    labelName   : "Cognome & Nome",
                                    infoText    : "Fornite ai vostri veri nomi e cognomi. Abbiamo bisogno di identificare l'utente prima di accettare l'ordine.",
                                    errorText   : "Si prega d’inserire vostro Nome & Cognome"
                                } %}

                            </div>
                            <div class="input-wrap__two-r">

                                {% include './_template/select.twig' with {
                                    titleName   : "Nazione",
                                    errorText   : "Dear Customer! Non si accettano pagamenti da"
                                } %}

                            </div>
                        </div>

                        <div class="input-wrap__country clearfix">
                            <div class="input-wrap__two-l">

                                {% include './_template/input.twig' with {
                                    idName      : "address",
                                    labelName   : "Indirizzo",
                                    infoText    : "Indirizzo di fatturazione associato con la carta di credito, ad esempio 100 Il Nome Della Mia via, App A",
                                    errorText   : "Si prega d’inserire l'indirizzo di fatturazione associato con la vostra carta di credito."
                                } %}

                            </div>
                            <div class="input-wrap__two-r">
                                <div class="input-wrap__two-r-first">

                                    {% include './_template/input.twig' with {
                                        idName      : "city",
                                        labelName   : "Città",
                                        infoText    : "Città è una parte di un indirizzo di fatturazione associato con la vostra carta di credito.",
                                        errorText   : "Si prega d’inserire una città che fa parte di un indirizzo di fatturazione associato con la tua carta di credito"
                                    } %}

                                </div>
                                <div class="input-wrap__two-r-second">

                                    {% include './_template/input.twig' with {
                                        idName      : "zip",
                                        labelName   : "Codice postale",
                                        infoText    : "Zip/CAP del vostro indirizzo di fatturazione.",
                                        errorText   : "Si prega d’inserire Zip/CAP"
                                    } %}

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <p class="block__title  border-radius_all block__title_next">Dati di fatturazione</p>

                <div class="input-wrap wrap_bg input-wrap_padding input-wrap-internal">
                    <h3 class="input-wrap__text">Se avete già completato l’acquisto, siete pregati di inserire il vostro indirizzo e-mail (che avete utilizzato per il primo acquisto) ed il numero dell’ordine (oppure le ultime 4 cifre del numero della carta di credito se non siete a conoscenza del numero dell’ordine) per la compilazione automatica delle vostre informazioni sull’ordine</h3>

                    <div class="input-wrap__internal clearfix">

                        {% include './_template/inputTitle.twig' with {
                            idName      : "email_name",
                            inputTitle  : "Email",
                            infoText    : "Riceverete la conferma dell'ordine a questo indirizzo.",
                            errorText   : "Si prega di’inserire un indirizzo email valido"
                        } %}

                        {% include './_template/inputTitle.twig' with {
                            idName      : "order",
                            inputTitle  : "Numero dell’ordine oppure le ultime 4 cifre del numero della carta di credito",
                            infoText    : "Numero dell’ordine oppure le ultime 4 cifre del numero della carta di credito",
                            errorText   : "Si prega di compilare ID Ordine o le ultime 4 cifre della carta di credito utilizzata per l'ordine precedente."
                        } %}

                    </div>

                    {% include './_template/btn.twig' with {
                        class   : "next next-internal",
                        optBtn  : "next",
                        optIcon : "yes-icon right",
                        text    : "Inviare"
                    } %}

                    <div class="divider-text divider-text-input divider-text-internal">
                        <span class="divider-text__line"></span>
                        <span class="divider-text__word">OR</span>
                    </div>

                    {% include './_template/btn.twig' with {
                        class   : "prev prev-internal",
                        optBtn  : "prev",
                        optIcon : "with-icon left",
                        text    : "No, l'ho già acquistato in precedenza"
                    } %}

                </div>

            </form>

            <p class="invoice__title">
                <span class="invoice__title-note">Noti!</span> L'importo totale della fattura sono indicati ai USD. (<span>$82.37</span>)
                <br>
                In alcuni casi l'importo addebito può differire dall'importo totale della fattura a causa della tassa di transazione estera.
                <br>
                Si avrà la possibilità di rivedere il vostro ordine prima della sua immissione.
            </p>

            <div class="btn">

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "fake-next",
                    optIcon : "no-icon",
                    text    : "Attendere prego...",
                    hrefAttr: "javascript:void(0);"
                } %}

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "next",
                    optIcon : "with-icon right",
                    text    : "Continuare al Metodo di Pagamento",
                    hrefAttr: "/payment"
                } %}

                <div class="divider-text">
                    <span class="divider-text__line"></span>
                    <span class="divider-text__word">OR</span>
                </div>

                {% include './_template/btn.twig' with {
                    class   : "prev",
                    optBtn  : "prev",
                    optIcon : "yes-icon left",
                    text    : "Ritornare al Carello",
                    hrefAttr: "/"
                } %}

            </div>
        </div>
    </div>


    {% for link in linkFiles.script_link %}
        <script src="{{ link }}"></script>
    {% endfor %}

</body>
</html>
