<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    {% for link in linkFiles.style_link %}
        <link rel="stylesheet" href="{{ link }}">
    {% endfor %}

    <title>PAYMENT</title>
</head>
<body>
    <div class="container">
        <div class="internal-container">

            <div class="header-steps">
                <h1 class="main__title">Zur Kasse</h1>

                {% include './_template/steps.twig' with {
                    count : 3
                } %}

                {% include './_template/sub_title.twig' with {
                    page_number : 3,
                    page_name   : "Zahlungsart",
                } %}
            </div>


            <p class="block__title border-radius_top">Wählen sie zahlungsart</p>


            <form action="" id="checkout_form" class="payment-method wrap_bg border-radius_bottom">
                <div class="form__wrap">
                    <div class="cart-row">
                        <div class="forms-row forms-payment">
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "active",
                                idNum       : "visa",
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "mastercard"
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "amex"
                            } %}
                            {% include './_template/radioBtnPayment.twig' with {
                                classActive : "",
                                idNum       : "btc"
                            } %}
                        </div>
                    </div>


                    <div class="input-wrap__date-birth clearfix">
                        {% include './_template/select-dataBirth.twig' with {
                            inputTitle      : "Geburtsdatum"
                        } %}
                    </div>


                    <div class="rows">

                        <div class="input-wrap__issuing-bank">
                            {% include './_template/input.twig' with {
                                idName      : "f2_issuing_bank",
                                labelName   : "Name der Bank"
                            } %}
                        </div>

                        <div class="input-wrap__card-number">
                            {% include './_template/input.twig' with {
                                idName      : "f_card_number",
                                labelName   : "Kreditkartennummer"
                            } %}
                        </div>

                        <div class="input-wrap__card-info clearfix">
                            <div class="input-wrap__card-l">
                                {% include './_template/select-expirationDate.twig' with {
                                    inputTitle      : "Gültig bis"
                                } %}
                            </div>

                            <div class="input-wrap__card-r">
                                {% include './_template/input-securityCode.twig' with {
                                    idName      : "f_cvv",
                                    inputTitle  : "Sicherheitscode"
                                } %}
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <p class="invoice__title">
                Sie erhalten die Möglichkeit Ihre Bestellung zu überprüfen, bevor sie aufgegeben wird.
            </p>


            <div class="btn">

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "fake-next",
                    optIcon : "no-icon",
                    text    : "Bitte warten...",
                    hrefAttr: "javascript:void(0);"
                } %}

                {% include './_template/btn.twig' with {
                    class   : "next",
                    optBtn  : "next",
                    optIcon : "with-icon right",
                    text    : "Weiter zur Bestätigung",
                    hrefAttr: "/confirm"
                } %}

                <div class="divider-text">
                    <span class="divider-text__line"></span>
                    <span class="divider-text__word">OR</span>
                </div>

                {% include './_template/btn.twig' with {
                    class   : "prev",
                    optBtn  : "prev",
                    optIcon : "no-icon",
                    text    : "Zurück zur Lieferart",
                    hrefAttr: "/shipping"
                } %}

            </div>
        </div>
    </div>

    {% for link in linkFiles.script_link %}
        <script src="{{ link }}"></script>
    {% endfor %}

</body>
</html>
