{% macro stepsBody(stepName, stepNameMobile) %}

    <div class="steps__wrap-container"></div>

    <p class="steps__wrap-text">{{ stepName }}</p>

    <p class="steps__wrap-text_mobile">
        <i class="steps__wrap-text-icon"></i>
        {{ stepNameMobile }}
    </p>

{% endmacro %}