{% macro stepsBody(stepName) %}

    <div class="steps__wrap-container">
        <i class="steps__wrap-icon"></i>
    </div>

    <p class="steps__wrap-text">{{ stepName }}</p>

    <span class="steps__wrap-line"></span>

    <span class="steps__wrap-line-status">
        <i class="steps__wrap-line-icon"></i>
    </span>

{% endmacro %}