@import "../_mixin/mixin";
@import "../_function/function";

//// SPRITE [&retina]
@import "../_variable/sprite_it";


$w-all                : return-value(dimension, all);

$c-show               : return-value(color, show);
$c-nero               : return-value(color, nero);
$c-coral-red          : return-value(color, coral-red);
$c-cadet-blue         : return-value(color, cadet-blue);

$f-SSP-bold           : return-value(fonts, SSP-bold);


.bottom-info {
	border-radius: 10px;
	margin-top: 30px;
	padding: 25px;
	@include respond-to("small-all") {
		padding: 15px;
	}


	&__title {
		color: $c-coral-red;
	}


	&__sub-title {
		color: $c-cadet-blue;
		text-transform: uppercase;
		font-family: $f-SSP-bold;
	}


	&__title,
	&__sub-title {
		font-size: 14px;
		margin-bottom: 20px;

	}


	&__text {
		font-size: 14px;
		color: $c-nero;


		&_margin {
			margin-bottom: 20px;
		}


		&_color {
			color: $c-cadet-blue;
			text-decoration: underline;
		}
	}
}