@import "../_mixin/mixin";
@import "../_function/function";

// CONFIG VARIABLE
@import "../_config/btn__config";

// SPRITE [&retina]
@import "../_variable/sprite_it";


/*
		BTN
		- next;
		- prev;
*/


// main
.btn {
	.btn__wrap {
		position: absolute;
		@include respond-to('small-all') {
			position: relative;
		}
	}
}

// btn
.btn {
	position: relative;
	min-height: $BTN_height;


	&__wrap{
		display: block;
		position: relative;


		&-prev,
		&-place,
		&-back,
		&-next {
			@include mixinDimensions($BTN_width, $BTN_height);
			line-height: $BTN_height - 2;
			border-radius: $BTN_borderRadius;
			text-align: center;
			@include respond-to('small-all') {
				display: block;
				@include mixinDimensions($BTN-SMALL-ALL_width, $BTN_height);
				margin: 0 auto;
			}
		}


		&-prev,
		&-back,
		&-place,
		&-next {
			.btn__wrap-text,
			.btn__wrap-icon {
				height: 100%;
			}


			.btn__wrap-text {
				width: $BTN-width-text;
				@include respond-to("small-all") {
					width: $BTN-SMALL-ALL-width-text;
				}
			}


			.btn__wrap-icon {
				width: $BTN-width-icon;
				@include respond-to("small-all") {
					width: $BTN-SMALL-ALL-width-icon;
				}
			}
		}


		&-prev,
		&-back {
			color: $BTN-prev_fontColor;
			left: 0;
			background-color: $BTN-prev_backgroundColor;


			.btn__wrap-text {
				right: 0;
			}


			.btn__wrap-icon {
				left: 0;


				.icon {
					margin-right: $BTN_marginRight-icon;
					@include retina-sprite($BTN-prev_iconName);
				}
			}
		}


		&-next,
		&-place {
			color: $BTN-next_fontColor;
			right: 0;
			background-color: $BTN-next_backgroundColor;
		}


		&-next {
			.btn__wrap-text {
				left: 0;
			}


			.btn__wrap-icon {
				right: 0;


				.icon {
					margin-left: $BTN_marginLeft-icon;
					@include retina-sprite($BTN-next_iconName);
				}
			}
		}


		&-place {
			position: absolute;
			width: 270px;
			top: 0;  *top: 35px;
			bottom: 0;
			right: 25px;
			margin: auto;
			@include respond-to("small-all") {
				position: static;
			}

			.btn__wrap-text {
				text-transform: uppercase;
			}

			.btn__wrap-icon {
				.icon {
					margin-left: $BTN_marginLeft-icon;
					@include retina-sprite($BTN-place_iconName);
				}
			}

			.btn__wrap-text,
			.btn__wrap-icon {
				position: static;
			}
		}


		&-print,
		&-back {
			display: inline-block;  *display: inline;  *zoom: 1;
			@include respond-to("small-all") {
				margin-left: 0;
			}
		}


		&-back {
			color: $BTN-back_fontColor;
			border: $BTN_borderWidth solid $BTN-back_borderColor;
			background-color: $BTN-back_backgroundColor;


			.btn__wrap-icon {
				.icon {
					margin-left: $BTN_marginLeft-icon;
					@include retina-sprite($BTN-back_iconName);
				}
			}
		}


		&.next-internal,
		&.prev-internal {
			width: $BTN_width-internal - ($BTN_borderWidth * 2);
			margin: 0 auto;
			@include respond-to("small-all") {
				width: $BTN__SMALL-ALL__width-internal;
			}
		}


		&.next-internal {
			.btn__wrap-text,
			.btn__wrap-icon {
				position: static;
			}


			.btn__wrap-icon {
				.icon {
					margin-right: 5px;
					@include retina-sprite($sp-i-btn-submit-group);
				}
			}
		}


		&.prev-internal {
			.btn__wrap-text {
				width: $BTN-width-internal-text;
				@include respond-to("small-all") {
					width: $BTN-SMALL-ALL-width-text;
				}
			}
		}


		&-print {
			width: 270px;
			margin-left: 2.5px;
			@include respond-to("small-all") {
				width: 100%;
				margin-left: 0;
			}

			.btn__wrap-text {
				width: 270px - 50;
				left: 50px;
				@include respond-to("small-all") {
					width: calc(100% - 50px);
				}
			}
			.btn__wrap-icon {
				left: 0;
				width: 50px;


				.icon {
					@include retina-sprite($sp-i-btn-print-group);
				}
			}
		}


		&.next-customer {
			margin: 0 auto 15px;
		}


		&-text {
			font: {
				size: $BTN_fontSize;
				family: $BTN_fontFamily;
			}
			@include respond-to("small-all") {
				font-size: $BTN-SMALL-ALL_fontSize;
			}
		}


		&-icon {
			.icon {
				display: inline-block;  *display: inline;  *zoom: 1;
				vertical-align: middle;
				position: relative;
				top: -1px;
			}
		}


		&-text,
		&-icon {
			position: absolute;
		}
	}
}
