@import "../_mixin/mixin";
@import "../_function/function";

// CONFIG VARIABLE
@import "../_config/_cart-total-wrap__config";

// SPRITE [&retina]
@import "../_variable/sprite_it";


/*
	{.cart-total-wrap}

	CART TOTAL WRAP --> CTW { &.wrap }

	CART TOTAL TITLE--> CTT { &.title }

	CART TOTAL PRICE--> CTP { &.price }
*/


.cart-total {
	&-wrap {
		height: $CTW_height;
		background: $CTW_backgroundColor;
		border-bottom: 1px solid $CTW_borderColor;
		padding: 0 $CTW_paddingLeft 0 $CTW_paddingRight;
		font: {
			size: $CTW_fontSize;
		}
		text-transform: uppercase;
		position: relative;
		@include respond-to('small-all') {
			padding: 0 $CTW-SMALL-ALL__paddingLeft 0 $CTW-SMALL-ALL__paddingRight;
		}


		&.total {
			.cart-total-price {
				font-family: $CTP_fontFamily;
				color: $CTP_fontColor;
			}
		}


		&_bottom {
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
	}


	&-title {
		display: inline-block;  *display: inline;  *zoom: 1;
		width: $CTT_width;
		vertical-align: middle;
		color: $CTW_fontColor;
		font-family: $CTW_fontFamily;
	}


	&-price {
		position: absolute;
		top: 0;
		right: $CTP_right;
		width: $CTP_width;
		line-height: $CTP_lineHeight;
		font-size: $CTP_fontSize;
		@include respond-to("medium") {
			width: $CTP-MEDIUM_width;
		}
		@include respond-to("small-all") {
			width: auto;
			padding-right: 15px;
		}
	}
}

.total-wrap {
	.cart-total-price {
		width: $CTP_width-confirm;
		@include respond-to("small-all") {
			text-align: right;
		}
	}
}