@import "../_mixin/mixin";
@import "../_function/function";

// SPRITE [&retina]
@import "../_variable/sprite_it";


$w-all                : return-value(dimension, all);

$c-fern               : return-value(color, fern);
$c-nero               : return-value(color, nero);
$c-deep_pink          : return-value(color, deep_pink);
$c-persimmon          : return-value(color, persimmon);
$c-coral-red          : return-value(color, coral-red);

$f-SSP-bold            : return-value(fonts, SSP-bold);


.status {
	width: 560px;
	padding: 60px 15px 50px;
	margin: 0 auto;
	text-align: center;
	@include respond-to("small-all") {
		width: $w-all;
		padding: 20px 15px;
		text-align: left;
	}


	&.wrap {
		@include respond-to("small-all") {
			padding: 0 15px;
		}
	}


	&-accepted,
	&-decline,
	&-pending {
		.status__img {
			&-normal,
			&-retina {
				@include mixinDimensions(82px, auto);
			}
		}
	}


	&-decline {
		.status__sub-title {
			color: $c-coral-red;
		}
	}


	&__img {
		margin-bottom: 20px;
		@include respond-to("small-all") {
			float: left;
		}


		&-retina {
			display: none;
		}
	}


	&__title {
		font: {
			size: 20px;
			weight: normal;
		}
		color: $c-nero;
		margin-bottom: 15px;
		@include respond-to("small-all") {
			font-size: 16px;
			padding-left: 112px;
		}
	}


	&__sub-title {
		font-size: 14px;
		color: $c-nero;
		margin: 15px 0 25px;
		@include respond-to("small-all") {
			margin: 10px 0 15px;
		}
	}
}



@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	.status {
		&__img {
			&-normal {
				display: none;
			}
			&-retina {
				display: inline-block;  *display: inline;  *zoom: 1;
			}
		}
	}
}