@import "../_mixin/mixin";
@import "../_function/function";

// CONFIG VARIABLE
@import "../_config/_title__config";

// SPRITE [&retina]
@import "../_variable/sprite_it";


/*
	TITLE GENERAL PROPERTIES -- > TGP

	MAIN TITLE     --> MT {.main__title}

	SUB TITLE      --> ST {.sub__title}

	BLOCK TITLE    --> BT {.block__title}

	TEXT TITLE     --> TT {.text__title}

	INVOICE TITLE  --> IT {.invoice__title}

	QUESTION TITLE --> QT {.question__title}

	GENDER TITLE   --> GT {.gender__title}
*/


.main__title,
.block__title,
.sub__title {
	//font: {
	//	family: $TGP_fontFamily;
	//}
	//color: $TGP_fontColor;
}


.main__title {
	font: {
		size: $MT_fontSize;
	}
	height: $MT_height;
	line-height: $MT_lineHeight;
	display: inline-block;  *display: inline;  *zoom: 1;
	@include respond-to("small-all") {
		display: none;
	}
}


.sub__title {
	display: inline-block;  *display: inline;  *zoom: 1;
	font: {
		size: $ST_fontSize;
	}
	color: $ST_fontColor;
	padding: $ST_paddingTop $ST_paddingRight $ST_paddingBottom $ST_paddingLeft;
	@include respond-to("medium") {
		width: 150px;
	}
	@include respond-to("small-all") {
		padding-top: $ST-SMALL-ALL_paddingTop;
		padding-bottom: $ST-SMALL-ALL_paddingBottom;
		width: auto;
		font-size: $ST-SMALL-ALL_fontSize;
	}
	@include respond-to("extra_small") {
		padding-left: $ST-EXTRA-SMALL_paddingLeft;
	}
}


.block__title {
	font: {
		size: $BT_fontSize;
	}
	height: $BT_height;
	line-height: $BT_lineHeight;
	padding: $BT_paddingTop $BT_paddingRight $BT_paddingBottom $BT_paddingLeft;
	background-color: $BT_backgroundColor;
	border-radius: $BT_borderRadius;
	@include respond-to("extra_small") {
		font: {
			size: $BT__EXTRA-SMALL__fontSize;
		}
		margin: 0 $BT__EXTRA-SMALL__marginLeft;
	}
	@include respond-to("small-all") {
		padding: $BT_paddingTop $BT_paddingRight $BT_paddingBottom $BT__SMALL-ALL__paddingLeft;
	}


	&_next {
		margin-top: 20px;
	}

	&-confirm {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		background-color: $BT_backgroundColor-confirm;
		border : 1px solid $BT_borderColor-confirm;
	}
}


.text__title {
	font: {
		size: $TT_fontSize;
		style: $TT_fontStyle;
	}
	color: $TT_fontColor;
	padding: $TT_paddingTop $TT_paddingRight $TT_paddingBottom $TT_paddingLeft;
}


.invoice__title {
	font: {
		size: $IT_fontSize;
	}
	padding: $IT_paddingTop $IT_paddingRight $IT_paddingBottom $IT_paddingLeft;
	text-align: center;

	&-note {
		color: $IT_fontColor-note;
	}
}


.question__title {
	font: {
		size: $QT_fontSize;
		weight: normal;
	}
	text-align: center;
	color: $QT_fontColor;
	padding: $QT_paddingTop $QT_paddingRight $QT_paddingBottom $QT_paddingLeft;
	@include respond-to("small-all") {
		font: {
			size: $QT__SMALL-ALL__fontSize;
		}
	}
}


.gender__title {
	font: {
		size: $GT_fontSize;
	}
	color: $GT_fontColor;
	display: inline-block;  *display: inline;  *zoom: 1;
	margin: $GT_marginTop $GT_marginRight $GT_marginBottom $GT_marginLeft;
	position: relative;
	top: 2px;
	@include respond-to("small-all") {
		margin-bottom: 15px;
	}
}


.subscribe__title {
	display: none;
	@include respond-to("small-all") {
		font : {
			size: $SbT_fontSize;
			family: $SbT_fontFamily;
		}
		color: $SbT_fontColor;
		display: block;
	}
}


.place-wrap__title {
	font : {
		size: $PWT_fontSize;
		family: $PWT_fontFamily;
	}
	color: $PWT_fontColor;
	margin-bottom: 5px;
}


.confirm-title {
	font: {
		size: $CT_fontSize;
		family: $CT_fontFamily;
	}
	color: $CT_fontColor;
	text-transform: $CT_fontTransform;
	padding-left: $CT_paddingLeft;
	height: $CT_height;
	line-height: $CT_lineHeight;
	border-top: 1px solid $CT_borderColor;
	border-bottom: 1px solid $CT_borderColor;
	@include respond-to("small-all") {
		padding-left: $CT-SMALL-ALL_paddingLeft;
	}
}


.status__wrap-title {
	font: {
		size: 16px;
		family: return-value(fonts, SSP-bold);
	}
	color: return-value(color, nero);
	text-transform: uppercase;
	display: inline-block;  *display: inline;  *zoom: 1;
	vertical-align: top;
	margin-right: 2.5px;
	width: 270px;
	height: 40px;
	line-height: 40px;
	background-color: #F6FCFB;
	border: {
		radius: 4px;
		width: 1px;
		style: solid;
		color: #E0EBEA;
	}
	@include respond-to("small-all") {
		display: block;
		text-align: center;
		width: 100%;
		margin-bottom: 15px;
	}
}