@font-face {
	font-family: 'lato_regular';
	src: url("../fonts/lato-regular-webfont.eot");
	src: url("../fonts/lato-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato-regular-webfont.woff2") format("woff2"),
		url("../fonts/lato-regular-webfont.woff") format("woff"),
		url("../fonts/lato-regular-webfont.ttf") format("truetype"),
		url("../fonts/lato-regular-webfont.svg#latobold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'lato_bold';
	src: url("../fonts/lato-bold-webfont.eot");
	src: url("../fonts/lato-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/lato-bold-webfont.woff2") format("woff2"),
		url("../fonts/lato-bold-webfont.woff") format("woff"),
		url("../fonts/lato-bold-webfont.ttf") format("truetype"),
		url("../fonts/lato-bold-webfont.svg#latobold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans_regular';
	src: url("../fonts/opensans-regular-webfont.eot");
	src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
		url("../fonts/opensans-regular-webfont.woff") format("woff"),
		url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
		url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'opensans_bold';
	src: url("../fonts/opensans-bold-webfont.eot");
	src: url("../fonts/opensans-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../fonts/opensans-bold-webfont.woff2") format("woff2"),
		url("../fonts/opensans-bold-webfont.woff") format("woff"),
		url("../fonts/opensans-bold-webfont.ttf") format("truetype"),
		url("../fonts/opensans-bold-webfont.svg#open_sansbold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "officina_sans_boldC";
	src: url("../fonts/OfficinaSansBoldC.otf") format("opentype");
	font-style: normal;
	font-weight: normal;
}