@import "../_mixin/mixin";
@import "../_function/function";


/*
		BTN
		- next;
		- prev;
		- place;
*/


$BTN_width                : 324px;
	$BTN-SMALL-ALL_width    : 270px;

$BTN_width-internal       : 425px;
	$BTN__SMALL-ALL__width-internal : 100%;

$BTN_height               : 40px;
$BTN_lineHeight           : $BTN_height;
$BTN_borderRadius         : 4px;
$BTN_borderWidth          : 2px;
$BTN_fontSize             : 16px;
	$BTN-SMALL-ALL_fontSize : 14px;

$BTN_fontFamily           : return-value(fonts, SSP-bold);

$BTN-prev_fontColor       : return-value(color, arsenic);
$BTN-prev_borderColor     : return-value(color, zircon);
$BTN-prev_backgroundColor : return-value(color, zircon);
$BTN-prev_iconName        : $sp-i-btn-prev-group;

$BTN-next_fontColor       : return-value(color, white);
$BTN-next_borderColor     : return-value(color, persimmon);
$BTN-next_backgroundColor : return-value(color, persimmon);
$BTN-next_iconName        : $sp-i-btn-next-group;

$BTN-place_fontColor      : $BTN-next_fontColor;
$BTN-place_borderColor    : $BTN-next_borderColor;
$BTN-place_backgroundColor: $BTN-next_backgroundColor;
$BTN-place_iconName       : $sp-i-btn-place-group;

$BTN-back_fontColor       : $BTN-next_fontColor;
$BTN-back_borderColor     : $BTN-next_borderColor;
$BTN-back_backgroundColor : $BTN-next_backgroundColor;
$BTN-back_iconName        : $sp-i-btn-back-group;

$BTN_marginLeft-icon      : 0;
$BTN_marginRight-icon     : 0;

$BTN-width-icon           : 50px;
	$BTN-SMALL-ALL-width-icon: 35px;

$BTN-width-text           : $BTN_width - $BTN-width-icon;
	$BTN-SMALL-ALL-width-text: $BTN-SMALL-ALL_width - $BTN-SMALL-ALL-width-icon;

$BTN-width-internal-text  : $BTN_width-internal - $BTN-width-icon;
	$BTN-SMALL-ALL-width-text: calc(100% - 35px);
