@import "../_mixin/mixin";
@import "../_function/function";


/*
	RADIO BUTTON                    --> RB
	CHECKBOX BUTTON                 --> CB
	RADIO PAYMENT BUTTON            --> RPB

	RADIO BUTTON & CHECKBOX BUTTON  --> RBCB

	SUBSCRIBE RADIO BUTTON          --> SRB
*/


// RADIO BUTTON & CHECKBOX BUTTON --> RBCB
$RBCB_fontSize                : 13px;
$RBCB_fontColor               : return-value(color, nero);
$RBCB_fontColor-afterUpgrade  : return-value(color, persimmon);
$RBCB_marginTop               : 15px;
$RBCB_marginRight             : 0;
$RBCB_marginBottom            : 0;
$RBCB_marginLeft              : 0;
$RBCB-icon_marginTop          : 0;
$RBCB-icon_marginRight        : 20px;
$RBCB-icon_marginBottom       : 0;
$RBCB-icon_marginLeft         : 0;
$RBCB-img_float               : right;
$RBCB-img_marginTop           : 0;
$RBCB-img_marginRight         : 10px;
$RBCB-img_marginBottom        : 0;
$RBCB-img_marginLeft          : 0;
$RBCB_total_fontFamily        : return-value(fonts, open-sans-bold);


// RADIO BUTTON    --> RB
$RB-icon_notActive            : $sp-i-radio-notactive-group;
$RB-icon_active               : $sp-i-radio-active-group;


// CHECKBOX BUTTON --> CB
$CB-icon_notActive            : $sp-i-checkbox-notactive-group;
$CB-icon_active               : $sp-i-checkbox-active-group;


// RADIO PAYMENT BUTTON  --> RPB
$RPB_borderColor              : return-value(color, snow);
$RPB_borderColorActive        : return-value(color, deep_pink);
$RPB_borderWidthActive        : 2px;
$RPB_borderRadiusActive       : 6px;
$RPB-img_visa                 : $sp-i-payment-visa-group;
$RPB-img_mastercard           : $sp-i-payment-mastercard-group;
$RPB-img_amex                 : $sp-i-payment-amex-group;
$RPB-img_btc                  : $sp-i-payment-bitcoin-group;


// SUBSCRIBE RADIO BUTTON          --> SRB
$SRB_fontFamily-text-color    : return-value(fonts, open-sans-bold);
$SRB_fontColor-text-color     : return-value(color, deep_pink);